# ignore everything
/*

# Track the following files
!iwfm_track.cpp
!CMakeLists.txt
!clean.sh
!README.md
!.gitignore
!LICENSE

# track the following folders
!/iwfmHeaders
/iwfmHeaders/*
!/iwfmHeaders/*.h

!/Rwrkspc
/Rwrkspc/*
!/Rwrkspc/*.R

!/VSversion
/VSversion/*
!/VSversion/iwfmTrack
/VSversion/iwfmTrack/*
!/VSversion/iwfmTrack/iwfmTrack
/VSversion/iwfmTrack/iwfmTrack/*
!/VSversion/iwfmTrack/iwfmTrack/*.cpp
!/VSversion/iwfmTrack/iwfmTrack/*.h

!/hou
/hou/*
!/hou/*.hdanc
!/hou/*.hipnc


