# ignore everything
/*

# Track the following files
!iwfm_track.cpp
!CMakeLists.txt
!clean.sh
!README.md
!.gitignore
!LICENSE

# track the following folder
!/iwfmHeaders
/iwfmHeaders/*
!/iwfmHeaders/*.h
